{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <a class="btn btn-primary" href="{% url 'home' %}" role="button">Back</a>
    <br><br>
    <div class="card">
        <img alt="" class="card-img-top" src="{{ barang.gambar.url }}" />
        <div class="card-body">
            <h5 class="card-title fw-bold">{{ barang.nama }}</h5>
            <p class="card-text">
                <h6> Tersedia <strong>{{ barang.stok }}</strong> stok || Harganya Rp. <strong>{{ barang.harga }}</strong></h6>
                <h6> Tersedia {{ barang.keterangan }} stok</h6>
            </p>
        </div>
    </div>
    <form method="post" action="{% url 'add_to_cart' barang.id %}">
        {% csrf_token %}
        <label for="quantity">Jumlah Pesanan:</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1">
        <button type="submit" class="btn btn-primary">Pesan</button>
    </form>
</div>
{% endblock content %}